%% -*- erlang -*-
%% Config file for hid application
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -DDLOG_DEFAULT=DLOG_DEBUG"},
	    {"CFLAGS", "$CFLAGS -I/usr/local/include/hidapi"},
	    {"(darwin)", "LDFLAGS", "$LDFLAGS -lhidapi"},
%%	    {"(linux)",  "LDFLAGS", "$LDFLAGS -L/usr/local/lib -lhidapi-hidraw"}
	    {"(linux)",  "LDFLAGS", "$LDFLAGS -L/usr/local/lib -lusb-1.0 -lhidapi-libusb"}
	   ]}.
